.input-calculator-parent {
    border: 1px solid #bce8f1;
    background-color:lightblue;
    display: inline-block;
    
}

.input-calculator-header {
    color: #3a87ad;
    background-color: #bce8f1;
    border-bottom: 1px solid #bce8f1;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    
}

.input-calculator-form {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}